.list-item {
    margin-right: 15px;
}

.list-item:last-of-type {
    margin-right: 0;
}

.list-item a:hover, .list-item.active a {
    color:  #0093ff;
    transition: .4s;
}

.list-item a {
    font-weight: 700;
}

.contacts-header p a {
    color: #2f383b;
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: .4s;
}

.contacts-header p:hover {
    opacity: .8;
}

.contacts-header p a:hover {
    border-bottom: 0;
}

.contacts-header p i {
    margin-right: 5px;
    color: #0093ff;
}

#head .phones p {
    margin-bottom: 20px;
}

#head .phones p a {
    color: #0093ff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.cart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cart .cart-icon {
    background-color: #0093ff;
    padding: 10px;
    border-radius: 10px;
}

.cart .cart-icon i {
    color: white;
}

.cart .cart-text p {
    text-align: center;
    font-size: 14px;
}

.cart .cart-text p.large {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.left-menu {
    background: #8080800d;
    padding: 15px;
}

.left-menu .menu-heading {
    text-transform: uppercase;
    color: #0093ff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.left-menu .wrapper .item {
    transition: 1s;
    padding: 10px 5px;
    position: relative;
    cursor: pointer;
}

.left-menu .wrapper .item:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, rgba(111, 118, 111, 0.35) 0%, rgba(111, 118, 111, 0.35) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    transition: left .3s;
    opacity: 0;
}

.left-menu .wrapper .item:hover:before {
    opacity: 1;
    left: 0;
}

.left-menu .wrapper .item a {
    color: black;
    text-decoration: none;
}

.items {
    flex: 0 0 73.666667%;
    max-width: 73.666667%;
}

.items h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    color: red;
}

.items .see-all span {
    color: #0093ff;
    font-size: 120%;
    transition: 1s;
}

.items .see-all a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.items .see-all a span {
    display: inline-block;
}

.items .see-all a:hover span {
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.items .product .wrapper {
    padding: 15px;
    border: 1px solid lightgray;
}

.items .product .wrapper > div {
    margin-bottom: 10px;
}

.items .product .wrapper .title-block p a {
    color: black;
    line-height: 20px;
    text-decoration: none;
}

.items .product .wrapper .title-block p a:hover {
    text-decoration: underline;
}

.items .product .wrapper .bool-block p i {
    margin-left: 5px;
}

.items .product .wrapper .bool-block .true {
    color: green;
}

.items .product .wrapper .bool-block .false {
    color: red;
}

.items .product .wrapper .price-block .price {
    font-weight: bold;
    font-size: 18px;
}

.items .product .wrapper .price-block .btn {
    color: white;
    text-transform: uppercase;
    background: #0093ff;
    font-weight: bold;
    border-radius: 5px;
}

.items_preim .img-preim {
    width: 50%;
    margin: 0 auto;
}

.items_preim .text-preim {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.items_about .slick-slider .slick-arrow {
    background: white;
    padding: 5px 15px;
    bottom: 0;
    top: inherit;
}

.items_about .slick-slider .slick-arrow.slick-next {
    right: 0;
}

.items_about .slick-slider .slick-arrow.slick-prev {
    left: 0;
}

.items_about .slick-slider .slick-arrow i {
    color: black;
    font-size: 50px;
}

.items_about-text h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
}

.items_about-text p {
    margin-bottom: 10px;
    line-height: 20px;
}

.items_form {
    border: 3px dotted gray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.items_form .sent .form-heading {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0093ff;
}

.items_form .sent p {
    margin-bottom: 10px;
}

.items_form .sent p input {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
}

.items_form .sent p a {
    color: gray;
    text-decoration: none;
}

.items_form .sent .btn {
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

footer .wrapper .icon {
    color: #0093ff;
}

footer .wrapper p {
    margin-bottom: 10px;
}

footer .phones .wrapper p a {
    color: black;
    text-decoration: none;
}